@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}


<div id="logreg-forms" class="py-4 my-4"> 
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row form-group">
        <div class="col-8 offset-2  d-flex justify-content-center flex-nowrap">
            <div class="card style=" width:fit-content"">
                 <div class="card-body px-lg-5 pt-4">
                     <h3 class="col-12 text-center py-4">
                        <strong>S'identifier</strong>
                     </h3>
                    
                     <form id="account" method="post">                             
                        <input placeholder="Email" asp-for="Input.Email" class="my-2 form-control" autocomplete="username" aria-required="true" />
                        <input placeholder="Password" asp-for="Input.Password" class="my-2 form-control" autocomplete="current-password" aria-required="true" />
                        @*<div class="checkbox my-2">
                           <label asp-for="Input.RememberMe" class="form-label">
                               <input class="form-check-input" asp-for="Input.RememberMe" />
                               @Html.DisplayNameFor(m => m.Input.RememberMe)
                           </label>
                        </div>*@
                        <button id="login-submit" type="submit" class="w-100 btn btn-block btn-info mb-2"><i class="fas fa-sign-in-alt"></i> Se connecter</button>
                        <div class="row mt-2">
                            <hr class="col-5 mt-3" />
                            <p class="col-2 mt-2 text-center" style="color:grey;font-weight:bold">OU</p>
                            <hr class="col-5 mt-3" />
                        </div>
                        
                       
                        
                        @*<br />
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="btn-link text-info my-2 text-center" style="text-decoration:none">Resend email confirmation</a>*@
                                                                  
                    </form>     
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">                       
                        <div class="social-login pb-0 mb-0">
                            <div class="row">
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)                   
                                    {
                                        <div class="col-12">
                                                @if (provider.Name.ToLower().Contains("facebook"))
                                                {
                                                   <button type="submit" class="btn btn-block facebook-btn form-control" name="provider"
                                                     value="@provider.Name" 
                                                      title="Log in using your @provider.DisplayName account">
                                                        <i class="bi bi-facebook"></i> @provider.DisplayName
                                                   </button>
                                                }
                                                else
                                                  {
                                                    @if (provider.Name.ToLower().Contains("google"))
                                                     {
                                                            <button type="submit" class="btn btn-block google-btn form-control" name="provider"
                                                              value="@provider.Name" 
                                                              title="Log in using your @provider.DisplayName account"
                                                            style="color: #dd4b39;border:none;">
                                                             <i class="bi bi-google"></i> Se connecter avec @provider.DisplayName
                                                            </button>
                                                    }
                                                    else{
                                                       <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                                    }
                                                }
                                        </div>                                           
                                    } 
                                </p>
                                
                            </div>
                                    
                        </div>              
                    </form>   
                    <div class="text-center">
                        <a id="forgot-password" asp-page="./ForgotPassword"  style="text-decoration:none;color:black;font-size:small">Mot de passe oublié?</a>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


















