@model SalleDeSport.Models.ViewModels.HomeVM

<div class="row my-5" data-aos="fade-up" data-aos-duration="2000">
    <div class="col-12">
        <img src="~/images/ProjectImg/HomePageIntro.jpg" class="w-100 rounded"/>
    </div>   
</div>

<div class="row my-5" style="background-color: #eee;
     padding: 50px;
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
    text-align: center;
    color:black;
     ">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <h3>À propos de notre salle de sport</h3>
            <hr />
            <p>
                here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
            </p>
        </div>
        <div class="col">
            <img src="~/images/ProjectImg/AboutGym.png" class="w-100 rounded" />
        </div>
    </div>
</div>

<div class="row my-5">
    <h3>Nos activités</h3>
    <p>Notre salle vous propose les activités suivantes :</p>
    @foreach (var Activite in @Model.ActiviteList)
    {
        @if (Activite.Nom == "Musculation")
        {
            <div class="col-lg-4 col-md-4" data-aos="fade-right" data-aos-delay="1000" data-aos-once="true">
                <div class="row p-2">
                    <div class="col-12 p-1" style="border:1px solid #36454F;border-radius:5px;">
                        <div class="card">
                            <img src="@Activite.ImgUrl" class="card-img-top rounded" />
                            <div class="card-body">
                                <div class="pl-1">
                                    <p class="card-title h5 text-center" ><strong>@Activite.Nom</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (Activite.Nom == "Boxe")
        {
            <div class="col-lg-4 col-md-4" data-aos="fade-left" data-aos-delay="500" data-aos-once="true">
                <div class="row p-2">
                    <div class="col-12 p-1" style="border:1px solid #36454F;border-radius:5px;">
                        <div class="card">
                            <img src="@Activite.ImgUrl" class="card-img-top rounded" />
                            <div class="card-body">
                                <div class="pl-1">
                                    <p class="card-title h5 text-center"><strong>@Activite.Nom</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (Activite.Nom == "Natation"){
            <div class="col-lg-4 col-md-4" data-aos="flip-up" data-aos-delay="1500" data-aos-once="true">
                <div class="row p-2" >
                    <div class="col-12 p-1" style="border:1px solid #36454F;border-radius:5px;">
                        <div class="card">
                            <img src="@Activite.ImgUrl" class="card-img-top rounded"/>
                            <div class="card-body">
                                <div class="pl-1">
                                    <p class="card-title h5 text-center"><strong>@Activite.Nom</strong></p>
                                </div>
                            </div>                       
                        </div>
                    </div>
                </div>
            </div>
        }
        
    }
</div>
<div class="row my-5" style="background-color: #eee;
     padding: 50px;
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
    text-align: center;
    color:black;
     ">
    <div class="row">
        <h3>Nos coachs</h3>
        <p>Voici nos coachs expert qui vous aideront à réaliser vos activités.</p>
        <br />
    
           <div class="col-lg-4 col-md-4">
                    <div class="row p-2">
                        <img src="@Model.coachMusculation.ImgUrl" class="img-fluid rounded-circle"/>
                        <br />
                        <h4 class="text-center">@Model.coachMusculation.Nom @Model.coachMusculation.Prenom</h4>
                        <p class="text-center">@Model.coachMusculation.Activite.Nom</p>
                    </div>               
           </div> 
           <div class="col-lg-4 col-md-4">
                    <div class="row p-2">
                        <img src="@Model.coachBoxe.ImgUrl" class="img-fluid rounded-circle"/>
                        <br />
                        <h4 class="text-center">@Model.coachBoxe.Nom @Model.coachBoxe.Prenom</h4>
                        <p class="text-center">@Model.coachBoxe.Activite.Nom</p>
                    </div>               
           </div> 
    
        <div class="col-lg-4 col-md-4">
            <div class="row p-2">
                <img src="~/images/ListCoachs.png" class="img-fluid rounded-circle"/>
                <br />
                <p class="text-center mt-4"> 
                    
                    <a id="Vp" style="cursor:pointer;" asp-area="customer" asp-controller="Coach" asp-action="Index">voir plus</a> 
                </p>
            </div>               
        </div>  
    </div>
</div>

<div class="row my-5 h-100 d-flex align-items-center justify-content-center">
    <h3>Nos Abonnements</h3>
    <p>Notre salle de sport vous propose les meilleurs prix pour une meilleur expérience.</p>
    @foreach (var Abonnement in @Model.AbonnementList)
    {
        @if (Abonnement.Nom == "Normal")
        {
            <div class="card border-info col-lg-4 col-md-4 m-3" style="max-width: 20rem;" data-aos="zoom-in" data-aos-delay="500" data-aos-once="true">
               <div class="card-body text-center">
                    <p class="text-center fw-bold w-100 mt-1">
                        @Abonnement.Nom
                    </p>   
                    <p>@Html.Raw(@Abonnement.Description)</p>
                    <h2 class="card-title">@Abonnement.Prix.ToString() DH</h2>
                    <p>(@Abonnement.Duree)</p>
                    <br />
                    <a asp-controller="Home" asp-action="AjoutPanier" class="btn btn-info" asp-route-AboId="@Abonnement.Id">Voir</a>     
               </div>                     
            </div>
        }
        else if (Abonnement.Nom == "Premium")
        {
            <div class="card border-info col-lg-4 col-md-4 m-3" style="max-width: 20rem;" data-aos="zoom-in" data-aos-delay="800" data-aos-once="true">
                <div class="card-body text-center">
                    <p class="text-center fw-bold w-100 mt-1">
                        @Abonnement.Nom
                    </p>
                    <p>@Html.Raw(@Abonnement.Description)</p>
                    <h2 class="card-title">@Abonnement.Prix.ToString() DH</h2>
                    <p>(@Abonnement.Duree)</p>
                    <br />
                    <a asp-controller="Home" asp-action="AjoutPanier" class="btn btn-info" asp-route-AboId="@Abonnement.Id">Voir</a>
                </div>
            </div>
        }
        else
        {
            <div class="card border-info col-lg-4 col-md-4 m-3" style="max-width: 20rem;" data-aos="zoom-in" data-aos-delay="1100" data-aos-once="true">
                <div class="card-body text-center">
                    <p class="text-center fw-bold w-100 mt-1">
                        @Abonnement.Nom
                    </p>
                    <p>@Html.Raw(@Abonnement.Description)</p>
                    <h2 class="card-title">@Abonnement.Prix.ToString() DH</h2>
                    <p>(@Abonnement.Duree)</p>
                    <br />
                    <a asp-controller="Home" asp-action="AjoutPanier" class="btn btn-info" asp-route-AboId="@Abonnement.Id">Voir</a>
                </div>
            </div>
        }
        
    }
</div>

@section Scripts{
    <script>
        AOS.init();
    </script>
}
