@model SalleDeSport.Models.ViewModels.HomeVM

<div class="row mb-3">
    <div class="col-12">
        <img src="~/images/ProjectImg/HomePageIntro.jpg" class="w-100 rounded"/>
    </div>   
</div>
<div style="">
    <div class="row my-4" style="">
        <div class="col-lg-3 col-md-6">
            <h3>À propos de notre salle de sport</h3>
            <hr />
            <p>
                here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.
            </p>
        </div>
        <div class="col">
            <img src="~/images/ProjectImg/AboutGym.png" class="w-100 rounded"/>
        </div>
    </div>
</div>

<div class="row my-4">
    <h3>Nos activités</h3>
    <p>Notre salle vous propose les activités suivantes :</p>
    @foreach (var Activite in @Model.ActiviteList)
    {
       <div class="col-lg-4 col-md-4">
            <div class="row p-2" >
                <div class="col-12 p-1" style="border:1px solid #36454F;border-radius:5px;">
                    <div class="card">
                        <img src="@Activite.ImgUrl" class="card-img-top rounded"/>
                        <div class="card-body">
                            <div class="pl-1">
                                <p class="card-title h5 text-secondary text-center"><strong>@Activite.Nom</strong></p>                             
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
        
    }
</div>
<div class="row my-4">
    <h3>Nos coachs</h3>
    <p>Voici nos coachs expert qui vous aideront à réaliser vos activités.</p>
    <br />
    
       <div class="col-lg-4 col-md-4">
                <div class="row p-2">
                    <img src="@Model.coachMusculation.ImgUrl" class="img-fluid rounded-circle"/>
                    <br />
                    <h4 class="text-center">@Model.coachMusculation.Nom @Model.coachMusculation.Prenom</h4>
                    <p class="text-center">@Model.coachMusculation.Activite.Nom</p>
                </div>               
       </div> 
       <div class="col-lg-4 col-md-4">
                <div class="row p-2">
                    <img src="@Model.coachBoxe.ImgUrl" class="img-fluid rounded-circle"/>
                    <br />
                    <h4 class="text-center">@Model.coachBoxe.Nom @Model.coachBoxe.Prenom</h4>
                    <p class="text-center">@Model.coachBoxe.Activite.Nom</p>
                </div>               
       </div> 
       <div class="col-lg-4 col-md-4">
                <div class="row p-2">
                    <img src="@Model.coachNatation.ImgUrl" class="img-fluid rounded-circle"/>
                    <br />
                    <h4 class="text-center">@Model.coachNatation.Nom @Model.coachNatation.Prenom</h4>
                    <p class="text-center">@Model.coachNatation.Activite.Nom</p>
                </div>               
       </div> 
    
    <div class="col-lg-4 col-md-4">
        <div class="row p-2">
            <img src="~/images/Black (1).jpg" class="img-fluid rounded-circle"/>
            <br />
            <h4 class="text-center mt-2"> 
                <a  style="cursor:pointer;text-decoration:none" asp-area="customer" asp-controller="Coach" asp-action="Index">voir plus</a> 
            </h4>
        </div>               
    </div>  
</div>
<div class="row my-4 h-100 d-flex align-items-center justify-content-center">
    <h3>Nos Abonnements</h3>
    <p>Notre salle de sport vous propose les meilleurs prix pour une meilleur expérience.</p>
    @foreach (var Abonnement in @Model.AbonnementList)
    {
       <div class="card border-info col-lg-4 col-md-4 m-3" style="max-width: 20rem;">
           <div class="card-body text-center">
                <p class="text-center fw-bold w-100 mt-1">
                    @Abonnement.Nom
                </p>   
                <p>@Html.Raw(@Abonnement.Description)</p>
                <h2 class="card-title">@Abonnement.Prix.ToString() DH</h2>
                <p>(@Abonnement.Duree)</p>
                <br />
                <a asp-controller="Home" asp-action="AjoutPanier" class="btn btn-info" asp-route-AboId="@Abonnement.Id">Voir</a>     
           </div>                     
       </div>  
    }
</div>
