@model SalleDeSport.Models.Abonnement

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="@Model.Id" hidden/>

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">
                <div class="col-12 pb-2">
                    <h2 class="text-primary">@(Model.Id!=0?"Modifier": "Ajouter") un Abonnement</h2>
                    <hr />
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Nom"></label>
                    <input  asp-for="@Model.Nom" class="form-control"/>
                    <span asp-validation-for="@Model.Nom" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Description"></label>
                    <textarea  asp-for="@Model.Description" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="@Model.Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Duree"></label>
                    <input  asp-for="@Model.Duree" class="form-control"/>
                    <span asp-validation-for="@Model.Duree" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Prix"></label>
                    <input  asp-for="@Model.Prix" class="form-control"/>
                    <span asp-validation-for="@Model.Prix" class="text-danger"></span>
                </div>
                <div class="col-12">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px" >Modifier</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary" style="width:150px">Ajouter</button>
                    }
                    <a asp-controller="Abonnement" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Retour à la liste 
                    </a>
                </div>
        
            </div>
        </div>
    </div>

</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial"/>
    }
 <script>
    tinymce.init({
      selector: 'textarea',
      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
    });
  </script>
}



